.reso{
    width: 100%;
    float: right;
}

.nav-reso{
    background-color: #FFD380;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.btn-reso{
    background-color: #353534;
}

.reso-table{
    background-color: #F8EBD3;
}