.risk{
    width: 100%;
}

.nav-risk{
    background-color: #FFA394;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.risk-table{
    background-color: #FFD0C8;
}

.btn-risk{
    background-color: #353534;
}

.risk-data{
    max-width: 300px;
}