.mile{
    width: 100%;
}

.nav-mile{
    background-color: #FFD380;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.btn-mile{
    background-color: #353534;
}

.mile-table{
    background-color: #F8EBD3;
}