.project-status{
    width: 100%;
    text-align: center;
    float: right;
}

.nav-project-status{
    background-color: #B1F98A;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.status-header{
    text-align: left;
    margin-left: 10px;
}

.status-list{
    text-align: left;
    
}

.st-list{
    background-color: #E8FFDC;
}

.btn-project-status{
    background-color: #353534;
}