.project-status-details{
    min-height: calc(100vh - 143px);
}

.nav-project-status{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.navbar-brand{
    font-size: 25px;
}

.status-header{
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}

.status-list{
    text-align: left;
}

.st-list{
    background-color: #E5E7E9;
}

.add{
    font-weight: 600;
}