<div class="container align">
    <div class="row align-items-center justify-content-center mt-4 mb-4">
        <div class="col-md-6 card shadow pt-3 pb-3 px-4" >
            <h3 class="d-flex justify-content-center">Organization</h3>
            <form [formGroup] ="adddivisionForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <span  *ngIf="adddivisionForm.get('name')?.invalid && adddivisionForm.get('name')?.touched" class="red">
                     Name Required
                    </span>
                <input type="text" class="form-control" placeholder="Enter name of the type" formControlName="name" [class.warning]="adddivisionForm.get('name')?.invalid && adddivisionForm.get('name')?.touched">
            </div>

            <div class="mb-3">
                <span *ngIf="adddivisionForm.get('department_type')?.invalid && adddivisionForm.get('department_type')?.touched" class="red">
                    Type Required
                    </span>
                    <label for="department_type" class="form-label">Type</label>
                <select class="form-select" aria-label="Default select example" formControlName="department_type"   [class.warning]="adddivisionForm.get('department_type')?.invalid && adddivisionForm.get('department_type')?.touched">   
                    <option *ngFor="let show of options" [value]="show.value">{{show.viewValue}}</option>
                    <!-- <option value="">Please Select Domain</option>
                    <option value="div">divison</option>
                    <option value="supdept">superdept</option>
                    <option value="dept">dept</option> -->
                </select>
            </div> 

            <div class="mb-3">
                <label for="grand_parent_id" class="form-label">Division Name</label>
                <span  *ngIf="adddivisionForm.get('grand_parent_id')?.invalid && adddivisionForm.get('grand_parent_id')?.touched" class="red">
                      Division Required
                    </span>
                    <select class="form-select" aria-label="Default select example" formControlName="grand_parent_id"   [class.warning]="adddivisionForm.get('grand_parent_id')?.invalid && adddivisionForm.get('grand_parent_id')?.touched">   
                        <option *ngFor="let show of divisionvalue" >{{show}}</option>
                    </select>    
            </div>

            <div class="mb-3">
                <label for="parent_id" class="form-label">Super Department Name</label>
                <span  *ngIf="adddivisionForm.get('parent_id')?.invalid && adddivisionForm.get('parent_id')?.touched" class="red">
                     Super Department Required
                    </span>
                    <select class="form-select" aria-label="Default select example" formControlName="parent_id"   [class.warning]="adddivisionForm.get('parent_id')?.invalid && adddivisionForm.get('parent_id')?.touched">   
                        <option *ngFor="let show of supdeptvalue" >{{show}}</option>
                    </select>  
            </div>

            <div class="mb-3">
                <button type="submit" class="btn" [disabled]="adddivisionForm.invalid" style="background-color:#e3832e;">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- [disabled]="addprojectForm.invalid" -->
<!-- <div id="datepicker" class="md-form md-outline input-with-post-icon datepicker" inline="true">
    <input placeholder="Select date" type="text" id="example" class="form-control">
    <label for="example">Try me...</label>
    <i class="fa fa-calendar input-prefix"></i>
  </div> -->
  <!-- <div class="input-group date" id="datepicker">
    <input type="text" class="form-control">
    <span class="input-group-append">
        <span class="input-group-text bg-white">
            <i class="fa fa-calendar"></i>
        </span>
    </span>
</div> -->

